<div class="contents row">
  <p><%= @nickname %>様の投稿一覧</p>
  <% @contributions.each do |contribution| %>
    <%= render partial: "contributions/contribution", locals: { contribution: contribution }%>
  <% end %>
</div>