<div class="contents row">
  <h3><%= @nickname %>さんの投稿一覧</h3>
  <% @contributions.each do |contribution| %>
    <%= render partial: "contributions/contribution", locals: { contribution: contribution }%>
  <% end %>
</div>