<%= render "shared/header" %>
  <div class='title-contents'>
    <h2 class='service-title'>
      あなたの意見を記事にしよう
    </h2>
    <p class='service-explain'>
      Letterは新聞をイメージした長文投稿アプリです
    </p>
    <p class='service-explain'>
      まずは１つ投稿してみよう
    </p>
  </div>
<div class="contents row">
  <% @contributions.each do |contribution| %>
    <%= render partial: "contribution", locals: { contribution: contribution }%>
  <% end %>
</div>